@use './src/assets/variables' as *;

.form-page {
  display: flex;
  height: 100%;

  & > div {
    flex: 1;

    &:last-child {
      padding-left: 56px;
    }
  }

  &__form, &__preview {
    display: flex;
    flex-direction: column;
    border: 1px solid $light-grey;
    height: 100%;
    box-sizing: border-box;
  }

  &__preview {
    padding: 25px;
  }

  &__fields {
    padding: 25px;
  }

  &__field {
    max-width: 200px;
    margin-bottom: 25px;
  }
  &__result {
    display: flex;
    flex-direction: column;
  }

  &__result-field {
    margin-bottom: 15px;
  }

  &__button {
    margin-left: auto;
  }
  &__buttons {
    margin-top: auto;
    position: sticky;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $light-grey;
    background: $white;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
  }
}
